#clockContainer{
   /* border: 2px solid red; */
    height: 40vw;
    width: 40vw;
    background: url(clocks.jpg) no-repeat;
    background-size: 100%;
    margin: auto;
    position: relative;
}
#hour,#minute, #second{
    position: absolute;
    background: rgb(0, 0, 0);
    border-radius: 10px;

}
#hour{
    width: 9px;
    height: 16%;
    top: 34.2%;
    left: 47.5%;
    /* display: none; */
    transform-origin: bottom;
}
#minute{
    width: 6px;
    height: 19%;
    top: 31%;
    left: 47.8%;
    opacity: 0.8px;
    /* display: none; */
    transform-origin: bottom;
}

#second{
    width: 3px;
    height: 21%;
    top: 29%;
    left: 48%;
    opacity: 0.8px;
    /* display: none; */
    transform-origin: bottom;
}